<?xml version="1.0" encoding="UTF-8"?>
<Wix 
  xmlns="http://schemas.microsoft.com/wix/2006/wi" 
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductName="CSV Data Converter" ?>
  <?define ProductVersion="1.0.0.0" ?>
  <?define Manufacturer="Pecheroga"?>

  <Product 
    Id="*" 
    Name="$(var.ProductName)" 
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)" 
    UpgradeCode="3fbc7ba8-6f5a-497c-bd6f-11f94d31c33f">
    <Package 
      Id="*"
      Platform ="x86"
      InstallerVersion="200" 
      Compressed="yes" 
      InstallPrivileges="elevated"
      Manufacturer="$(var.Manufacturer)"            
      InstallScope="perMachine" />

    <MajorUpgrade 
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate 
      EmbedCab="yes" />

    <!--<UIRef Id="WixUI_InstallDir"/>-->
    
    <Property 
      Id="INSTALLLOCATION" 
      Value="C:\$(var.ProductName)"/>
    <Property 
      Id="DESKTOP_SHORTCUT_FEATURE_LEVEL" 
      Value="1"/>
    <Property Id="SEARCH_FOR_DESKTOP_SHORTCUT">
      <RegistrySearch 
        Id="RegistrySearchForDesktopShortcut" 
        Root="HKCU" 
        Key="SOFTWARE\$(var.Manufacturer)\$(var.ProductName)\Shortcut" 
        Name="DesktopShortcut"
        Type="raw" 
        Win64="no"/>
    </Property>

    <Directory 
      Id="TARGETDIR" 
      Name="SourceDir" >
      <Directory 
        Id="ProgramFilesFolder">
        <Directory 
          Id="INSTALLLOCATION">
          <Component 
            Id="RegistryProduct">
            <RegistryValue 
              Root="HKLM"
              Key ="SOFTWARE\$(var.Manufacturer)\$(var.ProductName)"
              Name="CurrentVersion"
              Value ="$(var.ProductVersion)"
              Type ="string"
              KeyPath ="yes"/>
          </Component>
          <Component 
            Id="Converter"
            Guid="{CD2901FF-F332-4575-BE03-36A769D18670}">
            <File 
              Source="$(var.Converter.TargetPath)"
              KeyPath="yes"/>
          </Component>
          <Component 
            Id="App.config"
            Guid="{0BC714E6-0B34-4F74-819F-C747BC5955DE}">
            <File 
              Source="$(var.Converter.TargetPath).config"
              KeyPath="yes"/>
          </Component>
          <Component 
            Id="DataSource"
            Guid="{D4D46308-10DB-40EC-A31B-A9624FB9AC6E}">
            <File 
              Source="$(var.DataSource.TargetPath)"
              KeyPath="yes"/>
          </Component>
          <Component 
            Id="Interactivity"
            Guid="{87B36EA7-30A1-43BF-A158-C8A320C7E054}">
            <File 
              Source="$(var.Converter.TargetDir)\System.Windows.Interactivity.dll"
              KeyPath="yes"/>
          </Component>
        </Directory>
        
        <Directory 
          Id="CommonAppDataFolder">
          <Directory 
            Id="CsvDataConverter" 
            Name="$(var.ProductName)">
            <Component 
              Id="CommonAppDataFolderPermission"
              Guid="{41676352-EE5D-4A52-8F71-6A1E2A3BDAAF}">
              <CreateFolder>
                  <util:PermissionEx 
                    User="Users" 
                    GenericAll="yes"/>    
              </CreateFolder>
            </Component>
            <Component 
              Id="DataBase"
              Guid="{578C567D-86D1-43AA-B486-152582CCF952}">
              <File 
                Source="$(var.Converter.TargetDir)\data.mdf"
                KeyPath="yes"
                ReadOnly="no"/>
            </Component>
            <Component 
              Id="DataBaseLog"
              Guid="{6F39619F-DC96-4D3B-BC99-6433B709B4F6}">
              <File 
                Source="$(var.Converter.TargetDir)\data_log.ldf"
                KeyPath="yes"
                ReadOnly="no"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      
      <Directory 
        Id="DesktopFolder">
        <Component 
          Id="DesktopShortcutComponent" 
          Feature="DesktopShortcutFeature">
          <RegistryValue
            Id="RegistryDesktopShortcut"
            Root="HKCU"
            Key ="SOFTWARE\$(var.Manufacturer)\$(var.ProductName)\Shortcut"
            Name="DesktopShortcut"
            Value ="1"
            Type ="integer"
            KeyPath ="yes"/>
          <Shortcut 
            Id="DesktopShorcut"
            Name="$(var.ProductName)"
            WorkingDirectory="INSTALLLOCATION"
            Directory="DesktopFolder"
            Target="[PRODUCT_SHORTCUT_TARGET]"
            Icon="logo.ico"/>
        </Component>
      </Directory>

      <Directory 
        Id="ProgramMenuFolder">
        <Directory 
          Id="ShortcutFolder"
          Name="$(var.ProductName)">
          <Component 
            Id="ShortcutComponent"
            Guid="{1A05E0EC-1CEC-4BFA-BFD8-4F06BD13F01B}"
            Feature ="ProductFeature">
            <CreateFolder 
              Directory="ShortcutFolder"/>
            <RegistryValue 
              Id="RegistryProgramMenuShortcut"
              Root="HKCU"
              Key ="SOFTWARE\$(var.Manufacturer)\$(var.ProductName)\Shortcut"
              Name="ProgramMenuShortcut"
              Value ="1"
              Type ="integer"
              KeyPath ="yes"/>
            <RegistryValue 
              Id="RegistryProgramMenuUninstallShortcut"
              Root="HKCU"
              Key ="SOFTWARE\$(var.Manufacturer)\$(var.ProductName)\Shortcut"
              Name="ProgramMenuUninstallShortcut"
              Value ="1"
              Type ="integer"
              KeyPath ="no"/>
            <Shortcut 
              Id="ProductShorcut"
              Name="$(var.ProductName)"
              WorkingDirectory="INSTALLLOCATION"
              Directory="ShortcutFolder"
              Target="[PRODUCT_SHORTCUT_TARGET]"
              Icon="logo.ico"/>
            <Shortcut 
              Id="UninstallProductShortcut"
              Name="Uninstall $(var.ProductName)"
              Target="[UNINSTALL_PRODUCT_SHORTCUT_TARGET]"
              Arguments ="/uninstall"/>
            <RemoveFolder 
              Id="RemoveShortcutFolder" 
              On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature 
      Id="ProductFeature" 
      Title="$(var.ProductName)" 
      Level="1">
      <ComponentRef 
        Id="RegistryProduct"/>
      <ComponentRef 
        Id="Converter"/>
      <ComponentRef 
        Id="App.config"/>
      <ComponentRef 
        Id="DataSource"/>
      <ComponentRef 
        Id="CommonAppDataFolderPermission"/>
      <ComponentRef 
        Id="DataBase"/>
      <ComponentRef 
        Id="DataBaseLog"/>
      <ComponentRef 
        Id="Interactivity"/>
    </Feature>
    
    <Feature  
      Id="DesktopShortcutFeature">
      <Condition 
        Level="1">
        DESKTOP_SHORTCUT_FEATURE_LEVEL = "1" OR SEARCH_FOR_DESKTOP_SHORTCUT
      </Condition>
      <Condition 
        Level="0">
        DESKTOP_SHORTCUT_FEATURE_LEVEL = "0"
      </Condition>
    </Feature>
    
    <Icon 
      Id="logo.ico" 
      SourceFile ="$(var.Converter.ProjectDir)\logo.ico"/>
  </Product>
</Wix>
